


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik:wght@800&display=swap');

*{
    display: inline-block;
}

div{
    box-sizing: border-box;
}

    .box{
        width:  300px;
        height: 200px;
        border: 10px solid green;
        padding: 20px;
        background-color: #8dfc7e;
    }

    .box1{
        width:  300px;
        height: 200px;
        padding: 20px;

        border: 10px solid green;
        background-color: #8dfc7e;
    }

    .box2{
        width:  300px;
        padding: 20px;
        height: 200px;
        border: 10px solid green;
        background-color: #8dfc7e;
    }

    .box3{
        width:  300px;
        padding: 20px;
        height: 200px;
        border: 10px solid green;
        background-color: #8dfc7e;
    }